.top-section {
  margin-top: 80px;
}
.grid-2-section {
  border-radius: 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.833)),
    url(../../assets/images/c478f227d92d0d73daee86bfd641a112.jpg);
  background-position: center;
  background-size: cover;
}

.grid-2-section .content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}
.content-home p {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  color: aliceblue;
}
.content-home h5 {
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 400;
  font-size: 37px;
  color: aliceblue;
  text-align: center;
  padding: 19px 0 32px 0;
}
.content-home button {
  all: unset;

  border-radius: 20px;
  background: white;
  padding: 5px 19px;
  transition: 0.4s all;
}
.content-home button:hover {
  background-color: #F2BB13;
  box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.219),
  0px 0px 10px 3px #ffd0008a;
  color: black;
  scale: 1.2;
}
.content-home span {
  color: #ffe15c;
}
@media (max-width: 750px) {
  .grid-2-section {
    grid-template-columns: 1fr;
  }
  .grid-2-section h5 {
    font-size: 29px;
  }
  .grid-2-section p {
    padding-top: 55px;
  }

  .grid-2-section img {
    margin-bottom: 30px;
    width: 90% !important;
  }
}
.product-item {
  border-radius: 5px;
  width: 100%;
  height: max-content;
  background: #ffffff;

  position: relative;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.product-add-container{
  display: flex;
  gap: 15px;
  width: 100% !important;
}
.home-advertisement{
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home-advertisement img{
  width: 100%;
  border-radius: 8px;

}

.product-item img {
  width: 100%;
  border-radius: 5px;
  border: 2px solid white;
  transition: .4s all;
}
.product-item img:hover {
  cursor: pointer;

  transform: translatey(-16px) scale(1.1);
}
.img-like {
  position: relative;
}
.img-like #like-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  font-size: 25px;
  color: red;
  text-shadow: 0 0 4px rgba(255, 84, 84, 0.772);
  transition: 0.5s all;
}
@media (max-width: 750px) {
  .img-like #like-icon {
    opacity: 1;
  }
}
.img-like:hover #like-icon {
  opacity: 1;
}
.img-like:hover .like-icon-comment {
  opacity: 1;
}
#like-icon:hover {
  transform: scale(1.3);
}
.like-icon-comment {
  padding: 4px 8px;
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius: 25px;
  opacity: 0;
  top: 15px;
  right: 45px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  color: black;
  transition: 0.4s all;
}



@media (max-width:750px){
  .home-advertisement{
    flex-direction: row;
    align-items: center;
display: flex;
width: 100% !important;
  
    
  }
  .home-advertisement img{
    width: 30%;

  
    
  }
 
  .product-add-container{
    flex-direction: column;

   
  }
}
.product-item .add-cart-icon {
  position: absolute;
  bottom: -10px;
  background-color: rgb(0, 0, 0);

  border-radius: 50%;
  border: 10px solid #D7D9D9;
  right: -10px;
}
.product-item::before {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  bottom: 0;
  right: 52px;
  box-shadow: 10px 6px #D7D9D9;
}
.product-item::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  bottom: 52px;
  right: 0;
  box-shadow: 5px 10px #D7D9D9;
}

.product-item .add-cart-icon i {
  font-size: 25px;
  padding: 10px;
  color: white;
}
.cart-icon-comment {
  padding: 4px 8px;
  background: rgb(234, 234, 234);
  position: absolute;
  border-radius: 25px;
  opacity: 0;
  width: 110px;
  bottom: 65px;
  right: 10px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  color: black;
  transition: 0.4s all;
}
.add-cart-icon:hover .cart-icon-comment {
  opacity: 1;
}
.product-details {
  padding-left: 15px;
  padding-bottom: 14px;
  height: 160px;
}
.product-details h4 {
  font-size: 18px;
  padding: 8px 0 16px 0;
}

.product-nav ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 30px auto;
}
.product-nav ul li {
  color: black;
  transition: 0.3s all;
  border-radius: 13px;
 font-weight: 500;
 font-family: sans-serif;
  padding: 5px 12px;
}
.product-nav .active-li {

  color: rgb(70, 47, 47);
  background-color: #F2BB13;
  box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.219),
  0px 0px 10px 3px #ffd0008a;
}
.product-nav li:hover {
  background-color: #F2BB13;
  box-shadow: inset 0 0 10px 1px rgba(255, 255, 255, 0.219),
  0px 0px 10px 3px #ffd0008a;
  color: rgb(0, 0, 0);
  scale: 1.2;
}
.products-items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  margin: auto;
  gap: 35px;
  width: 75%;
}
@media (max-width: 700px) {
  .products-items-container {
    width: 85%;
  }
}
.add-cart-icon:hover i {
  scale: 1.2;
  color: black;
}
.add-cart-icon:hover {
  background-color: #ffdb39 !important;
 
}
