


  footer{
    background-color: white;
    margin-top: 40px;
  }
  


  .information-list {
    display: flex;
    padding: 40px 0;
    justify-content: space-around;
  }
  .information-list li {
    color: gray;
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 13px;
    padding: 4px 0;
  }
  .information-list .information-heading {
    color: rgb(0, 0, 0);
    font-family: "Varela Round", sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
  }
  @media (max-width:700px){
    footer{
        margin-bottom: 40px ;
    }
  }