@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header,
footer,
section {
  padding: 0 3%;
}
body {
  background-color: #d9b79a;
  position: relative;
}
:root {
  --dark--text-: #1f1f1f;
  --grey--: #e4e4e4;
  --white--: #ffffff;
  --silver--: #f4f4f4;
  --gold--: #fecf33;
  --body--: rgb(234, 234, 234);
}
